<div class="home-top">
	<div class="home-top-wrapper">
		<div class="home-position">
			<h1>Welcome to PairBnB</h1>
			<p> No. 1 Traveller Website in Local </p>
		</div>
	</div>

</div>

<div class=" container ">
	<div id="title"> 
		<h1>Highly Recommended</h1>
		<p>The best local places</p>
	</div>
	<div class="image-container">
		<div id="image1"> 
			<div class="home-position"> 
				<h3>KL</h3>
			</div>
		</div>
		<div id="image2"> 
			<div class="home-position"> 
				<h3>Melaka</h3>
			</div>
		</div>
		<div id="image3"> 
			<div class="home-position"> 
			<h3>Penang</h3>
			</div>
		</div>
		<div id="image4"> 
			<div class="home-position"> 
				<h3>Terengganu</h3>
			</div>
		</div>
		<div id="image5"> 
			<div class="home-position"> 
				<h3>Sabah</h3>
			</div>
		</div>
		<div id="image6"> 
			<div class="home-position"> 
				<h3>Sarawak</h3>
			</div>
		</div>

	</div>

	<div class="contact-container">
		<h2 id="contact">Contact Us</h2>
		 <form action="#" method="post">
			<input type="text" name="email" placeholder="Email" />
			<textarea name="message" placeholder="Message"></textarea>
			<button>Send</button>
		 </form>
	</div>

	<div class="map-container">
			<h2>Location</h2>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.8471744352732!2d101.62785079993778!3d3.1350472477060043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc49390073a8f5%3A0x79d9b5ae9a2d9ec1!2sGlomac+Damansara%2C+Jalan+Damansara%2C+Bukit+Kiara%2C+60000+Kuala+Lumpur%2C+Federal+Territory+of+Kuala+Lumpur%2C+Malaysia!5e0!3m2!1sen!2s!4v1506055523587" width="500" height="230" frameborder="0" style="border:0" allowfullscreen></iframe>	
	</div>
</div>